@{
    
    ViewBag.Title = "Error";
}

<div class="list-header clearfix">

</div>
<div class="list-sfs-holder">
    <div class="alert alert-error">
        Access to to this page is forbidden.
    </div>
</div>