@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    B&G Library<br />
    AspStreet 23 <br />
    MvcCountry 223-222 <br />
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:library.mvc.bg@gmail.com">library.mvc.bg@gmail.com</a><br />
</address>